.hero{
  width: 100%;
  height: 40vh;
  background: linear-gradient(#001232e2, #001232e2), url(../../../assets/banner01.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
